@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
	<p>msv:2310900054</p>
	<p>Họ và tên: Nguyễn Văn Kiên</p>
	<p>Ngày sinh: 12/01/2005</p>
	<p>Email:kien@gmail.com</p>
	<p>SDT:0324535772</p>

</div>