@model nvklesson07.Models.NvkEmployee

@{
    ViewData["Title"] = "sua thong tin";
}

<h1>sua thong tin</h1>

<h4>NvkEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NvkEdit" asp-route-id="@Model.NvkId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NvkId" class="control-label"></label>
                <input asp-for="NvkId" class="form-control" />
                <span asp-validation-for="NvkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkName" class="control-label"></label>
                <input asp-for="NvkName" class="form-control" />
                <span asp-validation-for="NvkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkBirthDay" class="control-label"></label>
                <input asp-for="NvkBirthDay" class="form-control" />
                <span asp-validation-for="NvkBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkEmail" class="control-label"></label>
                <input asp-for="NvkEmail" class="form-control" />
                <span asp-validation-for="NvkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkPhone" class="control-label"></label>
                <input asp-for="NvkPhone" class="form-control" />
                <span asp-validation-for="NvkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NvkSalary" class="control-label"></label>
                <input asp-for="NvkSalary" class="form-control" />
                <span asp-validation-for="NvkSalary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NvkStatus" /> @Html.DisplayNameFor(model => model.NvkStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

