@{
    ViewData["Title"] = "thong tin sinh vien";
}
<div>
<h1>@ViewData["Title"]</h1>
	<hr />
<p>Mã sinh viên: 2310900054 </p>
	<p>Họ và tên: Nguyễn Văn Kiên</p>
	<p>Ngày sinh: 12/01/2005</p>
	<p>Địa chỉ: 123 Đường ABC, Quận 1, TP.HCM</p>
	<p>SDT:0123456789 </p>
</div>